<%- include('partials/header.ejs') %>
<main>
    <body>
        <h1><%= title %></h1>
        
        <p>Welcome to our home page!</p>
         <img src="https://picsum.photos/600/400" alt="Random image">
    </body>
</main>
<%- include('partials/footer.ejs') %>


