<%- include('partials/header.ejs') %>
<main>
    <body>
        <h1><%= title %></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/products">Products</a></li>
            </ul>
        </nav>
        <p>Welcome to our products page!</p>
    </body>
</main>
<%- include('partials/footer.ejs') %>