<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
    <%- renderStyles() %>
    <%- renderScripts() %>

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/catalog">Course Catalog</a></li>
                <li><a href="/faculty">Faculty Directory</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/contact/responses">Contact Responses</a></li>
            </ul>
        </nav>
    </header>